<!DOCTYPE html>
<html>
    <head>
        <title>Food Tracker</title>
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='style.css') }}">
    </head>
    <body>
        <div id="header_bar">
            <a class="header_button" href="/"><img id="home_icon" src="{{ url_for('static',filename='home_icon.png') }}"/></a>
            <div class="header_button" id="create_mode_container"><a class="header_button_link" href="/create">Create Product</a></div>
        </div>

        <form id="create_item_form" method="POST">
            <p id="error_message">{{error_message}}</p>
            <label class="create_form_label" for="item_name">Name*:</label>
            <input class="create_form_input" type="text" name="item_name" required>

            <label class="create_form_label" for="serving_size">Serving Size (with units)*:</label>
            <input class="create_form_input" type="text" name="serving_size" required>
            
            <label class="create_form_label" for="categories">Categories:</label>
            <input class="create_form_input" type="text" name="categories">

            </br></br>


            <div id="form_nutri_table">
                <div class="form_nutri_row">
                    <label class="form_nutri_header" class="form_nutri_cell">Nutrition value:</label>
                    <label class="form_nutri_header" class="form_nutri_cell">per serving*:</label>
                </div>
                <div class="form_nutri_row">
                    <label class="form_nutri_header">Energy (kcal):</label>
                    <input class="form_nutri_cell" type="text" name="energy_kcal_serving" required>
                </div>
                <div class="form_nutri_row">
                    <label class="form_nutri_header">Fat:</label>
                    <input class="form_nutri_cell" type="text" name="fat_serving" required>
                </div>
                <div class="form_nutri_row">
                    <label class="form_nutri_header">of which saturates:</label>
                    <input class="form_nutri_cell" type="text" name="saturates_serving" required>
                </div>
                <div class="form_nutri_row">
                    <label class="form_nutri_header">Carbohydrates:</label>
                    <input class="form_nutri_cell" type="text" name="carbohydrates_serving" required>
                </div>
                <div class="form_nutri_row">
                    <label class="form_nutri_header">of which sugars:</label>
                    <input class="form_nutri_cell" type="text" name="sugars_serving" required>
                </div>
                <div class="form_nutri_row">
                    <label class="form_nutri_header">Fibre:</label>
                    <input class="form_nutri_cell" type="text" name="fibre_serving" required>
                </div>
                <div class="form_nutri_row">
                    <label class="form_nutri_header">Proteins:</label>
                    <input class="form_nutri_cell" type="text" name="proteins_serving" required>
                </div>
                <div class="form_nutri_row">
                    <label class="form_nutri_header">Salt:</label>
                    <input class="form_nutri_cell" type="text" name="sodium_serving" required>
                </div>
            </div>

            <button class="submit_btn">Add product</button>
        </form>
    </body>
</html>