<!DOCTYPE html>
<html>
    <head>
        <title>Food Tracker</title>
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='style.css') }}">
    </head>
    <body>
        <div id="header_bar">
            <a href="/"><img id="home_icon" src="{{ url_for('static',filename='home_icon.png') }}"/></a>
        </div>

        <form id="create_item_form" method="POST">
            <p id="error_message">{{error_message}}</p>
            <label class="create_form_label" for="code">Code*:</label>
            <input class="create_form_input" type="text" name="code" required>

            <label class="create_form_label" for="product_name">Product name*:</label>
            <input class="create_form_input" type="text" name="product_name" required>

            <label class="create_form_label" for="generic_name">Description:</label>
            <input class="create_form_input" type="text" name="generic_name">

            <label class="create_form_label" for="brands">Brands:</label>
            <input class="create_form_input" type="text" name="brands">

            <label class="create_form_label" for="quantity">Quantity (with units)*:</label>
            <input class="create_form_input" type="text" name="quantity" required>

            <label class="create_form_label" for="stores">Stores:</label>
            <input class="create_form_input" type="text" name="stores">

            </br></br>

            <label class="create_form_label" for="serving_size">Serving Size (with units):</label>
            <input class="create_form_input" type="text" name="serving_size">

            </br></br>

            <div id="form_nutri_table">
                <div class="form_nutri_row">
                    <label class="form_nutri_header" class="form_nutri_cell">Nutrition value:</label>
                    <label class="form_nutri_header" class="form_nutri_cell">per 100g*:</label>
                    <label class="form_nutri_header" class="form_nutri_cell">per serving:</label>
                </div>
                <div class="form_nutri_row">
                    <label class="form_nutri_header">Energy (kcal):</label>
                    <input class="form_nutri_cell" type="text" name="energy_kcal_100g" required>
                    <input class="form_nutri_cell" type="text" name="energy_kcal_serving">
                </div>
                <div class="form_nutri_row">
                    <label class="form_nutri_header">Fat:</label>
                    <input class="form_nutri_cell" type="text" name="fat_100g" required>
                    <input class="form_nutri_cell" type="text" name="fat_serving">
                </div>
                <div class="form_nutri_row">
                    <label class="form_nutri_header">of which saturates:</label>
                    <input class="form_nutri_cell" type="text" name="saturates_100g" required>
                    <input class="form_nutri_cell" type="text" name="saturates_serving">
                </div>
                <div class="form_nutri_row">
                    <label class="form_nutri_header">Carbohydrates:</label>
                    <input class="form_nutri_cell" type="text" name="carbohydrates_100g" required>
                    <input class="form_nutri_cell" type="text" name="carbohydrates_serving">
                </div>
                <div class="form_nutri_row">
                    <label class="form_nutri_header">of which sugars:</label>
                    <input class="form_nutri_cell" type="text" name="sugars_100g" required>
                    <input class="form_nutri_cell" type="text" name="sugars_serving">
                </div>
                <div class="form_nutri_row">
                    <label class="form_nutri_header">Fibre:</label>
                    <input class="form_nutri_cell" type="text" name="fibre_100g" required>
                    <input class="form_nutri_cell" type="text" name="fibre_serving">
                </div>
                <div class="form_nutri_row">
                    <label class="form_nutri_header">Proteins:</label>
                    <input class="form_nutri_cell" type="text" name="proteins_100g" required>
                    <input class="form_nutri_cell" type="text" name="proteins_serving">
                </div>
                <div class="form_nutri_row">
                    <label class="form_nutri_header">Salt:</label>
                    <input class="form_nutri_cell" type="text" name="sodium_100g" required>
                    <input class="form_nutri_cell" type="text" name="sodium_serving">
                </div>
            </div>

            <button class="submit_btn">Add product</button>
        </form>
    </body>
</html>