{% extends "item.html" %}

{% block item_image %}
<img id="product_image" src="{{ image }}"/>
{% endblock item_image %}

{% block colour_values %}
<div id="colour_grades_container">
        <div class="colour_grade" style="background-color: {{colours[0]}};">Fat</div>
        <div class="colour_grade" style="background-color: {{colours[1]}};">Saturates</div>
        <div class="colour_grade" style="background-color: {{colours[2]}};">Sugar</div>
        <div class="colour_grade" style="background-color: {{colours[3]}};">Salt</div>
 </div>
{% endblock %}