<!DOCTYPE html>
<html>
    <head>
        <title>Food Tracker</title>
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='style.css') }}">
    </head>
    <body>
        <div id="header_bar">
            <a class="header_button_link" href="/"><img id="home_icon" src="{{ url_for('static',filename='home_icon.png') }}"/></a>
            <div id="searchbar_container">
                <form method="POST">
                    <input id="search_input" name="searchbar">
                    <button id="search_submit">Search</button>
                </form>
            </div>
            <div class="page_navigator_container">
                <form method="POST">
                    <button class="page_button" name="prev_page" {{ prev_btn_enabled|default("disabled", true) }}>Prev. Page</button>
                </form>
                <form method="POST">
                    <button class="page_button" name="next_page" {{ next_btn_enabled|default("disabled", true) }}>Next Page</button>
                </form>
            </div>
            <div class="page_navigator_container">
                <form method="POST">
                    <button class="page_button" name="db_toggle">{{db_button}}</button>
                </form>
            </div>
        </div>
        
        <div id="content">
            <form class="search_results_container" method="POST">
                {% for p in products%}
                <a class="product_container" name="product" href="/product/{{codes[loop.index0]}}">
                    <img class="search_product_image" src="{{images[loop.index0]}}"/>
                    {% for attr in p %}
                    <div class="attribute">{{ attr }}</div>
                    {%endfor%}
                </a>
                {%endfor%}
            </form>
    
            <div id="error_msg">{{ error_message }}</div>
        </div>
    </body>
</html>